
<p class="col-sm-12">
  <strong>Full name:</strong>
  <%= @tenant.full_name %>
</p>

<p class="col-sm-12">
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p class="col-sm-12">
  <strong>Ammount:</strong>
  <%= @tenant.ammount %>
</p>

<p class="col-sm-12">
  <strong>Comments:</strong>
  <%= @tenant.comments %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant), class:"btn col-sm-6 col-xs-12"  %>
<%= link_to 'Back', tenants_path, class:"btn col-sm-6 col-xs-12" %>

