<div class='row col-sm-12 highlight'>
    <h1><%= @client.full_name%></h1>

    <%= form_tag("/clients/"  + @client.id.to_s + "/dates/", method: "get", role: "form", class:"form-inline") do %>
        <div class="form-group">
            <%= label_tag(:q, "Buscar para el mes de") %>
            <%= select_date @preset_start_date, prefix: :start_date, :discard_day => true %>
        </div>
        <%= submit_tag(">", class:"btn btn-primary btn-xs") %>
    <% end %>

</div>

<% if !@dates.nil? && @dates.empty? %>
	<div class='row col-sm-12 highlight'>
	<p class="lead">No hay citas a cobrar</p>
	</div>
<% end %>


<% if !@dates.nil? && !@dates.empty? %>
	<div class='row col-sm-12 highlight'>
		<h2>Para cobrar</h2>
		<small><em><mark>Ctrl-C para copiar</mark></em></small>
		<%= render 'collect_text', :locals => {:client => @client, :dates => @dates, :total_ammount => @total_ammount} %>
	</div>


<div class='row col-sm-12 highlight'>
	<h2>Detalle</h2>	
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Horario</th>
          <th>Duraci&oacute;n</th>
        </tr>
      </thead>
    
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <td><%= date.begining.strftime("%e %b %Y")  %></td>
            <td><%= date.begining.strftime("%H:%M") %> - <%= date.ending.strftime("%H:%M") %></td>
            <td><%= ((date.ending - date.begining)/3600).round %></td>  
                <% #TODO refactorizar a un helper el campo duracion
                %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
</div>

<% end %>
