
<p class="col-sm-12">
  <strong>Full name:</strong>
  <%= @client.full_name %>
</p>

<p class="col-sm-12">
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p class="col-sm-12">
  <strong>Ammount:</strong>
  <%= @client.ammount %>
</p>

<p class="col-sm-12">
  <strong>Comments:</strong>
  <%= @client.comments %>
</p>

<%= link_to 'Edit', edit_client_path(@client), class:"btn col-sm-6 col-xs-12"  %>
<%= link_to 'Back', clients_path, class:"btn col-sm-6 col-xs-12" %>

