<!DOCTYPE html>
<html>
<head>
  <title>AppointmentsCollector</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <%= stylesheet_link_tag "scaffolds" %>
    
    
    
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">


<% if current_user %>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        Bienvenid@ <%= current_user.name %>
        <%= link_to "Salir", signout_path %>
    </div>
</div>
<% end %>

<div clas="row">
    <div class="col-lg-6 col-lg-offset-3">
        <p id="notice" class="col-sm-12 bg-warning"><%= notice %></p>
    </div>
</div>

<div clas="row">
    <div class="col-lg-6 col-lg-offset-3">
    
        <%= yield %>
    
    </div>
</div>



</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
